<h1>Burgers</h1>

<h2>Burgers to devour!</h2>

<ul>
  {{#each burger}}
  {{#unless devoured}}
    <li>
      <button class="not-eaten" data-id="{{id}}">{{burger_name}}</button>>
    </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers devoured!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      <p>{{burger_name}}</p>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="newBurger">burger?:</label>
    <input type="text" id="newBurger" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
